<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Autores: Alejandra Fiol y Laura Díaz</h1>

    <a href="/"> Página principal </a>

    <a href="/quizzes"> Quizzes </a>
    
  </body>
</html>
